@import 'heading';

body {
    background-color: white;
    width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

@media screen and (max-width: 770px) 
{.main__title, .main__para {max-width: 770px; width:100%}}

@media screen and (max-width: 320px) 
{.main__title, .main__para {max-width: 320px; width:100%}}

.main__para {
    white-space: pre;
}

.main__img-1 {
    display: flex;
    justify-content: center;
}