@import 'heading';

body {
    background-color: white;
    width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

/* @media screen and (max-width: 1200px)
{ p {color: red}}

@media screen and (max-width: 770px) 
{ p {color: green;}}

@media screen and (max-width: 480px)
{ p {color: blue;}} */


.main__para {
    white-space: pre;
}

.main__img-1 {
    display: flex;
    justify-content: center;
}